/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  position: fixed;
  width: 100%
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

table.formtablenew {
	background-color: #fffddb;
	border: 1px solid black;
}
table.formtable {
	background-color: #d3f5d4;
	border: 1px solid black;
}

input[type=submit][value=New] {
  width: 100;
  height: 100%;
  background-color: #a0dba2;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit][value=New]:hover {
  background-color: #4CAF50;
  color: white;
}

input[type=submit][value=Update],
input[type=submit][value=Save] {
  width: 100;
  height: 100%;
  background-color: #98a5fa;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit][value=Update]:hover,
input[type=submit][value=Save]:hover {
  background-color: #203dfa;
  color: white;
}

input[type=submit][value=Delete] {
  width: 100;
  height: 100%;
  background-color: #fcb8b8;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit][value=Delete]:hover {
  background-color: #ff3636;
  color: white;
}

input[type=submit][value=Up] {
  width: 100%;
  height: 100%;
  background-color: #fffddb;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit][value=Up]:hover {
  background-color: #fff21c;
}

input[type=submit][value=Down] {
  width: 100%;
  height: 100%;
  background-color: #fffddb;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit][value=Down]:hover {
  background-color: #fff21c;
}

input[type=submit][value='Set'] {
  width: 100%;
  height: 100%;
  background-color: #fffddb;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit][value='Set']:hover {
  background-color: #fff21c;
}

input[type=submit][value='Set HH'],
input[type=submit][value='Set MM'],
input[type=submit][value='Set WW'],
input[type=submit][value='Sync HH'],
input[type=submit][value='Sync MM'],
input[type=submit][value='Sync WW'],
input[type=submit][value='Cal HH'],
input[type=submit][value='Cal MM'],
input[type=submit][value='Cal WW']
 {
  width: 75;
  height: 30;
  background-color: #ffdd87;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 2px;
}

input[type=submit][value='Set HH']:hover ,
input[type=submit][value='Set MM']:hover ,
input[type=submit][value='Set WW']:hover ,
input[type=submit][value='Sync HH']:hover ,
input[type=submit][value='Sync MM']:hover ,
input[type=submit][value='Sync WW']:hover ,
input[type=submit][value='Cal HH']:hover ,
input[type=submit][value='Cal MM']:hover ,
input[type=submit][value='Cal WW']:hover 
{
  background-color: #fcbc19;
  color: white;
}