<doctype html>
<head>
	<title>Alarm</title>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

{% from "_navbar.html" import render_navbar %}
	{{ render_navbar('alarm') }}

{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul class=flashes>
	{% for message in messages %}
		<li>{{ message }}</li>
	{% endfor %}
	</ul>
	{% endif %}
{% endwith %}

{% from "_formhelpers.html" import render_field_raw, render_field %}
{% from "_alarm.html" import render_alarm %}
	<h2>Add new Alarm:</h2>
		{{ render_alarm(aformnew, type='new', class='alarmformtablenew') }}
	<h2>Stored Alarms:</h2>
<ul style="list-style-type:none;">
{%for i in range(0, nalarms)%}
	<li>
		{{ render_alarm(aforms[i], type='stored', class='alarmformtable') }}
	</li>
{%endfor%}
</ul>