<doctype html>
<head>
    <title>FM Radio</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

{% from "_navbar.html" import render_navbar %}
    {{ render_navbar('radio') }}


{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<iframe width="230"
    height="190"
    src=/tuneradio>
</iframe>
    <p>
{% from "_formhelpers.html" import render_field_raw %}
  Add new Radio Stations:
  <form method=post>
    {{ render_field_raw(sformnew.freq) }}
    {{ render_field_raw(sformnew.name) }}
    {{ render_field_raw(sformnew.new) }}
  </form>
  Stored Radio Stations:
<ul style="list-style-type:none;">
  <!-- For loop logic of jinja template -->
{%for i in range(0, nstations)%}
    <li>
      <form method=post>
       {{ render_field_raw(sform[i].freq) }}
       {{ render_field_raw(sform[i].name) }}
       {{ render_field_raw(sform[i].delete) }}
       {{ render_field_raw(sform[i].update) }}
       {{ render_field_raw(sform[i].up) }}
       {{ render_field_raw(sform[i].down) }}
       {{ render_field_raw(sform[i].setpos) }}
       {{ render_field_raw(sform[i].pos) }}
       {{ render_field_raw(sform[i].idx) }}
       {{ render_field_raw(sform[i].lastfreq) }}
     </form>
    </li>
{%endfor%}
</ul>



