<doctype html>
<head>
    <title>FM Radio</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

{% from "_navbar.html" import render_navbar %}
    {{ render_navbar('radio') }}


{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<div style="right: 0px; border: 0px none; height: 200px; position: fixed; width: 230px; overflow: hidden; top: 70">
	<iframe src=/tuneradio scrolling="no" style="border: 0px none; height: 190px">
	</iframe>
</div>

{% from "_radio.html" import render_radio %}
<h2>Add new Radio Stations:</h2>
		{{ render_radio(rformnew, type='new', class='formtablenew') }}
<h2>Stored Radio Stations:</h2>
<ul style="list-style-type:none;">
{%for i in range(0, nrforms)%}
	<li>
		{{ render_radio(rforms[i], type='stored', class='formtable') }}
	</li>
{%endfor%}
</ul>



