<doctype html>
<head>
	<title>Spotify</title>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

{% from "_navbar.html" import render_navbar %}
	{{ render_navbar('spotify') }}

{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul class=flashes>
	{% for message in messages %}
		<li>{{ message }}</li>
	{% endfor %}
	</ul>
	{% endif %}
{% endwith %}

{% from "_formhelpers.html" import render_field_raw, render_field %}
{% from "_spotify.html" import render_spotitem %}
<h2>Add new Spotify item:</h2>
		{{ render_spotitem(sformnew, type='new', class='formtablenew') }}
<h2>Stored Spotify items:</h2>
<ul style="list-style-type:none;">
{%for i in range(0, nsforms)%}
	<li>
		{{ render_spotitem(sforms[i], type='stored', class='formtable') }}
	</li>
{%endfor%}
</ul>